<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCqwzS6BEnDw8PBTQvekClPqvxRs-A3bBE</string>
	<key>GCM_SENDER_ID</key>
	<string>1057496983314</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoFlutter.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>todo-serverpod</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-serverpod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1057496983314:ios:8a695ef7deafa8f19bf5cb</string>
</dict>
</plist>